<ion-view title="Account" class="ionic">
    <ion-content padding="true">
        <div class="card">
            <div class="item item-divider">
                Account details
            </div>
            <div class="item item-thumbnail-left"">
            <img ng-src="{{currentUser.avatar}}"/>
            <p>Username: {{currentUser.username}}</p>
                <p>Email: {{currentUser.email}}</p>
                <p>User ID: {{currentUser.id}}</p>
                <p>Tweets: {{currentUser.tweets}} </p>
                <p>Created: {{currentUser.created | date:'medium'}}</p>
            </div>
        </div>
        <button class="button button-block button-energized icon ion-log-out" ng-click="logout()">
            Logout
        </button>
    </ion-content>
</ion-view>