<ion-view class="ionic">
    <ion-side-menus ng-controller="NavCtrl">
        
        <ion-side-menu-content ng-controller="NavCtrl">
            <ion-nav-bar class="bar-balanced nav-title-slide-ios7">
  <button class="button icon ion-navicon" ng-click="toogleLeft()"></button>

    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    
</ion-nav-bar>
<ion-tabs class="tabs-striped tabs-top tabs-background-royal tabs-light">

        <ion-tab title="Home" icon="ion-arrow-graph-up-left" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Dev" icon="ion-ios7-information" href="#/tab/dev">
            <ion-nav-view name="dev-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Account" icon="ion-person" href="#/tab/account">
            <ion-nav-view name="account-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
     </ion-side-menu-content>
        
        <ion-side-menu side="left">
          <ion-header-bar class="bar bar-header bar-assertive">
            <h1 class="title">Menu</h1>
          </ion-header-bar>
          <ion-content has-header="true">
            <ul class="list">
              <li>
                <a class="item" menu-close nav-clear href="#/tab/home">Home</a>
              </li>
              <li>
                <a class="item" menu-close href="#/tab/facts">Facts</a>
              </li>
              <li>
                <a class="item" menu-close href="#/tab/facts2">More Facts</a>
              </li>
            </ul>
          </ion-content>
        </ion-side-menu>
 
        
      </ion-side-menus>
        
</ion-view>