@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
/* Reset */

/* Helpers */

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.navbar-default .navbar-nav > li > a {
    margin: 0;
    padding-right: 26px !important;
    padding-left: 26px !important;
    border-top: 3px solid transparent;
    color: #BFD5C9;
    opacity: 1;
}
.ionic .hero {
    -moz-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ionic .hero.slide-up {
    height: 100%;
    overflow: hidden;
}
.ionic .hero.slide-up * {
    opacity: 0;
}
.ionic .hero + .mid-bar {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    height: initial;
    opacity: 1;
}
.ionic .hero.slide-up + .mid-bar {
    height: 100%;
    opacity: 0.7;
    -moz-transform: translate3d(100%, -240px, 0);
    -o-transform: translate3d(100%, -240px, 0);
    -webkit-transform: translate3d(100%, -240px, 0);
    transform: translate3d(100%, -240px, 0);
}
.ionic .hero > * {
    -moz-transition: opacity 2.5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: opacity 2.5s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: opacity 2.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 2.5s cubic-bezier(0.55, 0, 0.1, 1);
    opacity: 1;
}
.ionic .hero .hero-icon {
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    display: inline-block;
    font-size: 65px;
    height: 150px;
    padding: 10px 30px;
    line-height: 136px;
    width: 150px;
}
.ionic .bar {
    z-index: 2;
    font-size: 1.3em;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.ionic .flat, .ionic .flat.tabs, .ionic .flat.button, .ionic .flat.button.icon, .ionic .flat.hero {
    box-shadow: none;
    -webkit-box-shadow: none;
}
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}
.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
}
.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
}
.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
}
.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
}
.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
}
.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
}
.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}
.waves-block {
    display: block;
}
/* Firefox Bug: link not triggered */

a.waves-effect .waves-ripple {
    z-index: -1;
}
/* Overrides */

.ionic .waves-button, .ionic .waves-button:hover, .ionic .waves-button:visited, .ionic .waves-button-input {
    font-size: inherit;
}
.ionic .rounded {
    border-radius: 4px;
}
.ionic .light, .ionic a.light {
    color: #fff;
}
.ionic .light-bg {
    background-color: #fff;
}
.ionic .light-border {
    border-color: #ddd;
}
.ionic .stable, .ionic a.stable {
    color: #f8f8f8;
}
.ionic .stable-bg {
    background-color: #f8f8f8;
}
.ionic .stable-border {
    border-color: #b2b2b2;
}
.ionic .positive, .ionic a.positive {
    color: #4a87ee;
}
.ionic .positive-bg {
    background-color: #4a87ee;
}
.ionic .positive-border {
    border-color: #145fd7;
}
.ionic .calm, .ionic a.calm {
    color: #43cee6;
}
.ionic .calm-bg {
    background-color: #43cee6;
}
.ionic .calm-border {
    border-color: #1aacc3;
}
.ionic .assertive, .ionic a.assertive {
    color: #ef4e3a;
}
.ionic .assertive-bg {
    background-color: #ef4e3a;
}
.ionic .assertive-border {
    border-color: #cc2311;
}
.ionic .balanced, .ionic a.balanced {
    color: #66cc33;
}
.ionic .balanced-bg {
    background-color: #66cc33;
}
.ionic .balanced-border {
    border-color: #498f24;
}
.ionic .energized, .ionic a.energized {
    color: #f0b840;
}
.ionic .energized-bg {
    background-color: #f0b840;
}
.ionic .energized-border {
    border-color: #d39211;
}
.ionic .royal, .ionic a.royal {
    color: #8a6de9;
}
.ionic .royal-bg {
    background-color: #8a6de9;
}
.ionic .royal-border {
    border-color: #552bdf;
}
.ionic .dark, .ionic a.dark {
    color: #444;
}
.ionic .dark-bg {
    background-color: #444;
}
.ionic .dark-border {
    border-color: #111;
}
/* Bar */

.ionic .bar .button {
    min-width: 38px;
    z-index: 3;
}
.ionic .bar.bar-header .button + .title {
    text-align: left;
    left: 50px;
    position: absolute;
}
.ionic .bar.bar-header.expanded {
    height: 75px;
}
.ionic .bar.bar-header.expanded .title.fab-left {
    bottom: 0;
    left: 90px;
    position: absolute;
    right: initial;
    top: initial;
}
.ionic .bar.bar-header.expanded .title.fab-right {
    bottom: 0;
    left: 4px;
    position: absolute;
    top: initial;
    right: initial;
}
.ionic .bar.bar-header.expanded + .button-fab {
    top: 50px;
}
.ionic .bar .title sup {
    opacity: 0.7;
}
.ionic .bar.bar-header.expanded.push-down {
    height: 44px;
    overflow: hidden;
}
.ionic .bar.bar-header.expanded {
    -moz-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ionic .bar.bar-header.expanded + .button-fab {
    -moz-transition: all 1.1s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 1.1s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: all 1.1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 1.1s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}
.ionic .bar.bar-header.expanded.push-down + .button-fab {
    top: 0;
    -o-transform: translate3d(-100px, -100px, 0) scale(2.5);
    -moz-transform: translate3d(-100px, -100px, 0) scale(2.5);
    -webkit-transform: translate3d(-100px, -100px, 0) scale(2.5);
    transform: translate3d(-100px, -100px, 0) scale(2.5);
}
.ionic .bar.bar-header.expanded.push-down .title {
    opacity: 0;
    left: initial;
    right: initial;
}
.ionic .bar.bar-header.expanded .title {
    opacity: 1;
    -moz-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
}
/* Motion Slide In Right */

.ionic .animate-fade-slide-in-right > * {
    visibility: hidden;
}
.ionic .animate-fade-slide-in-right > * {
    -moz-transform: scale3d(0.8, 0, 1);
    -ms-transform: scale3d(0.8, 0, 1);
    -webkit-transform: scale3d(0.8, 0, 1);
    transform: scale3d(0.8, 0, 1);
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: -o-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.ionic .animate-fade-slide-in-right .item-bg-image > img.background {
    box-shadow: none;
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.ionic .animate-fade-slide-in-right > .in, .ionic .animate-fade-slide-in-right.done > * {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ionic .animate-fade-slide-in-right > .in, .ionic .animate-fade-slide-in-right.done > * {
    visibility: visible;
}
.ionic .animate-fade-slide-in-right > * {
    visibility: hidden;
}
.ionic .animate-fade-slide-in-right > * {
    -moz-transform: translate3d(250px, 250px, 0);
    -ms-transform: translate3d(250px, 250px, 0);
    -webkit-transform: translate3d(250px, 250px, 0);
    transform: translate3d(250px, 250px, 0);
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: -o-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    opacity: 0;
}
.ionic .animate-fade-slide-in-right > .in, .ionic .animate-fade-slide-in-right.done {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.ionic .animate-fade-slide-in-right > .in, .ionic .animate-fade-slide-in-right.done {
    visibility: visible;
}
.ionic .animate-fade-slide-in-right.done > .in {
    opacity: 1;
}
.ionic .animate-fade-slide-in-right .has-mask-reverse:after {
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ionic .animate-fade-slide-in-right.done .has-mask-reverse:after {
    opacity: 1;
}
.ionic .animate-fade-slide-in-right > .out {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
}
/* Item List */

.ionic .list {
    padding-top: 25px;
}
.ionic .list.half {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}
.ionic .list.half:first-child .card.card-gallery {
    margin: 0 6px 12px 12px;
}
.ionic .list.half:last-child .card.card-gallery {
    margin: 0 12px 12px 6px;
}
.ionic .list.condensed-space > .card, .ionic .list.condensed-space > .item {
    margin: 0px 0px 2px;
}
.ionic .content + .list {
    padding-top: 0;
}
.ionic .list .item {
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
}
.ionic .list .item.tabs {
    padding: initial;
}
.ionic .list .item.item-bg-image {
    max-height: 150px;
}
.ionic .list .item.item-bg-image > img {
    height: 100%;
    left: 0;
    max-width: initial;
    opacity: 0.65;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.ionic .list a.item {
    opacity: 1;
}
.ionic .list .item.item-bg-image h1, .ionic .list .item.item-bg-image h2, .ionic .list .item.item-bg-image h3, .ionic .list .item.item-bg-image h4, .ionic .list .item.item-bg-image h5, .ionic .list .item.item-bg-image h6 {
    color: #fff;
    font-weight: bold;
    position: relative;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
    z-index: 1;
}
.ionic .list .item.item-bg-image h2 {
    font-size: 24px;
}
.ionic .list .item.item-bg-image h2 {
    font-size: 24px;
}
.ionic .list .item.item-bg-image p {
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    position: relative;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.95);
    z-index: 1;
}
.ionic .item-avatar, .ionic .item-avatar .item-content, .ionic .item-avatar-left, .ionic .item-avatar-left .item-content {
    min-height: 88px;
}
/* Item List : Thumbnail */

.ionic .item-thumbnail-left, .ionic .card > .item.item-thumbnail-left, .ionic .item-thumbnail-left .item-content {
    padding-left: 106px;
}
.ionic .item-thumbnail-right, .ionic .card > .item.item-thumbnail-right, .ionic .item-thumbnail-right .item-content {
    padding-right: 106px;
}
/* Item List: Avatar */

.ionic .item-avatar > img:first-child, .ionic .item-avatar .item-image, .ionic .item-avatar .item-content > img:first-child, .ionic .item-avatar .item-content .item-image, .ionic .item-avatar-left > img:first-child, .ionic .item-avatar-left .item-image, .ionic .item-avatar-left .item-content > img:first-child, .ionic .item-avatar-left .item-content .item-image {
    border-radius: 50%;
    left: 16px;
    max-height: 56px;
    max-width: 56px;
}
.ionic .item-avatar, .ionic .list .item-avatar {
    padding-left: 100px;
}
.ionic .avatar, .ionic .item-avatar .avatar {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    height: 56px;
    left: 16px;
    position: absolute;
    width: 56px;
}
.ionic .item h2 {
    color: #353535;
}
.ionic .dark-bg h2 {
    color: #fff;
}
.ionic .item p {
    color: #929292;
}
/* Colors */

.ionic .clear-bg {
    background: transparent;
}
.ionic .mid-bar {
    padding: 16px;
}
.ionic .mid-bar h1, .ionic .mid-bar h2, .ionic .mid-bar h3, .ionic .mid-bar h4, .ionic .mid-bar h5, .ionic .mid-bar h6 {
    color: #fff;
    margin-bottom: 5px;
}
.ionic .mid-bar p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
}
.ionic .bar.bar-positive.darker {
    background-color: #164FAB;
}
/* Utilities */

.ionic .double-padding, .ionic .ionic-content.double-padding {
    padding: 16px;
}
.ionic .double-padding-x {
    padding-left: 16px;
    padding-right: 16px;
}
.ionic .double-padding-y {
    padding-top: 16px;
    padding-bottom: 16px;
}
.ionic .outline {
    border-style: solid;
    border-width: 1px;
}
.ionic .circle {
    border-radius: 50%;
}
.ionic .no-padding, .ionic .list.no-padding, .ionic .bar.no-padding, .ionic .button-bar.no-padding, .ionic .card.no-padding, .ionic .button.no-padding, .ionic .item.no-padding {
    padding: 0;
}
.ionic .button-bar > .button {
    line-height: 44px;
}
.ionic .button-bar>.button .icon:before, .ionic .button-bar>.button:before {
    line-height: initial;
}
/* Mask */

.ionic .hero.has-mask:after, .ionic .item.has-mask:after, .ionic .card.has-mask:after {
    content: '';
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
}
.ionic .hero.has-mask-reverse:after, .ionic .item.has-mask-reverse:after, .ionic .card.has-mask-reverse:after {
    content: '';
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
}
/* Hero */

.ionic .hero {
    background-size: cover;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: #fff;
    height: 200px;
    position: relative;
    text-align: center;
    width: 100%;
}
.ionic .hero.no-header {
    height: 244px;
}
.ionic .hero > .content {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.ionic .hero > .content > .avatar {
    background-position: center;
    background-size: cover;
    border: solid 1px rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: inline-block;
    height: 88px;
    left: auto;
    margin-bottom: 10px;
    position: relative;
    width: 88px;
}
.ionic .hero h1 .ionic .hero h2, .ionic .hero h3, .ionic .hero h4, .ionic .hero h5, .ionic .hero h6 {
    color: #fff;
    margin: 0;
}
.ionic .hero h4 {
    color: rgba(255, 255, 255, 0.7);
    margin: 3px 0 16px;
}
.ionic .hero h1 > a, .ionic .hero h2 > a, .ionic .hero h3 > a, .ionic .hero h4 > a, .ionic .hero h5 > a, .ionic .hero h6 > a {
    text-decoration: none;
}
.ionic .hero + .button-bar {
    border-radius: 0;
    margin-top: 0;
}
.ionic .hero + .button-bar > .button:first-child, .ionic .hero + .button-bar > .button:last-child {
    border-radius: 0;
}
.ionic .hero .hero-icon {
    color: #fff;
    font-size: 96px;
}
.ionic .hero .hero-icon + h1 {
    color: rgb(255, 255, 255);
    letter-spacing: 0.15rem;
}
.ionic .hero .button, .ionic .hero .button.button-large, .ionic .hero .button.button-flat {
    margin: 0;
}
.ionic .hero h1.title {
    color: #fff;
    font-size: 23px;
    margin: 0;
    text-align: left;
    padding-left: 80px;
    line-height: 59px;
}
.ionic .hero {
    -moz-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ionic .hero.slide-up {
    height: 100%;
    overflow: hidden;
}
.ionic .hero.slide-up * {
    opacity: 0;
}
.ionic .hero + .mid-bar {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    height: initial;
    opacity: 1;
}
.ionic .hero.slide-up + .mid-bar {
    height: 100%;
    opacity: 0.7;
    -moz-transform: translate3d(100%, -240px, 0);
    -o-transform: translate3d(100%, -240px, 0);
    -webkit-transform: translate3d(100%, -240px, 0);
    transform: translate3d(100%, -240px, 0);
}
.ionic .hero > * {
    -moz-transition: opacity 2.5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: opacity 2.5s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: opacity 2.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 2.5s cubic-bezier(0.55, 0, 0.1, 1);
    opacity: 1;
}
/* Item */

.ionic .item {
    font-size: 14px;
    width: 100%;
}
.ionic .item-icon-left .icon {
    left: 16px;
}
.ionic .item-icon-right .icon {
    right: 16px;
}
.ionic .list .item.item-icon-right {
    padding-right: 60px;
}
/* List - Gallery */

.ionic .list .card.card-gallery {
    display: block;
    float: left;
    margin: 0 0 0 13px;
    padding: 0;
    width: auto;
}
.ionic .list .card.card-gallery.item h2 {
    padding: 12px;
}
.ionic .list .item.item-gallery {} .ionic .list .item.item-gallery img {
    width: 100%;
}
/* Card */

.ionic .card {
    margin: 8px 8px 12px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 0;
}
.ionic .card .image {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.ionic .card img {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: block;
    max-height: initial;
    max-width: 180px;
    position: static;
}
.ionic .card.card-gallery img {
    border: solid 1px #ccc;
    box-shadow: none;
    display: block;
    max-width: 180px;
}
.ionic .card .card-footer {
    font-size: 90%;
    opacity: 0.8;
    padding-top: 10px;
}
.ionic .card > .item {
    border: none;
}
.ionic .card.card-gallery > .item {
    background: inherit;
}
.ionic .card .icon + .icon {
    padding-left: 1rem;
}
.ionic .card.animate-fade-in {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 1px, 0);
    -webkit-transition: all 1s ease-in-out;
}
.ionic .card.animate-fade-in.done {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}
.ionic .item-avatar, .ionic .item-avatar .item-content, .ionic .item-avatar-left, .ionic .item-avatar-left .item-content, .ionic .card > .item-avatar {
    padding-left: 95px;
}
/* Button */

.ionic .button:hover, .ionic .button.activated {
    /*background: inherit;
  color: inherit;*/
}
/* Depth */

.z1 {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* Darker colors */

.ionic .bar.bar-positive.dark-positive-bg {
    background-color: #2C5CAD;
}
.ionic .muted {
    color: #C3C3C3;
}
/* Tabs */

.ionic .tabs-striped .tabs {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* Buttons */

.ionic .button, .ionic .button.button-large, .ionic .button.button-flat, .ionic .bar .button, .ionic .bar .button.button-large, .ionic .bar .button.button-flat {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: inline-block;
    height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
.ionic .button.disabled, .ionic .button.disabled.button-large, .ionic .button.button-floating.disabled, .ionic .button.button-large.disabled, .ionic .button.button:disabled, .ionic .button.button-large:disabled, .ionic .button.button-large:disabled, .ionic .button.button-floating:disabled, .ionic .bar .button.disabled, .ionic .bar .button.disabled.button-large, .ionic .bar .button.button-floating.disabled, .ionic .bar .button.button-large.disabled, .ionic .bar .button.button:disabled, .ionic .bar .button.button-large:disabled, .ionic .bar .button.button-large:disabled, .ionic .bar .button.button-floating:disabled {
    background-color: #DFDFDF;
    box-shadow: none;
    color: #9F9F9F;
}
.ionic .button.disabled:hover, .ionic .button.disabled.button-large:hover, .ionic .button.button-floating.disabled:hover, .ionic .button.button-large.disabled:hover, .ionic .button.button:disabled:hover, .ionic .button.button-large:disabled:hover, .ionic .button.button-large:disabled:hover, .ionic .button.button-floating:disabled:hover, .ionic .bar .button.disabled:hover, .ionic .bar .button.disabled.button-large:hover, .ionic .bar .button.button-floating.disabled:hover, .ionic .bar .button.button-large.disabled:hover, .ionic .bar .button.button:disabled:hover, .ionic .bar .button.button-large:disabled:hover, .ionic .bar .button.button-large:disabled:hover, .ionic .bar .button.button-floating:disabled:hover {
    background-color: #DFDFDF;
    color: #9F9F9F;
}
.ionic .button i, .ionic .button.button-large i, .ionic .button.button-floating i, .ionic .button.button-large i, .ionic .button.button-flat i, .ionic .bar .button i, .ionic .bar .button.button-large i, .ionic .bar .button.button-floating i, .ionic .bar .button.button-large i, .ionic .bar .button.button-flat i {
    font-size: 1.3rem;
    line-height: inherit;
}
.ionic .button-bar .button {
    border-radius: 0;
}
.ionic .button, .ionic .button-large, .ionic .bar .button, .ionic .bar .button-large {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}
.ionic .button.button-floating, .ionic .bar .button.button-floating {
    display: inline-block;
    color: #FFF;
    position: relative;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}
.ionic .button.button-floating i, .ionic .bar .button.button-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-size: 1.6rem;
    line-height: 37px;
}
.ionic .button.button-floating.button-large, .ionic .bar .button.button-floating.button-large {
    width: 55.5px;
    height: 55.5px;
}
.ionic .button.button-floating.button-large i, .ionic .bar .button.button-floating.button-large i {
    line-height: 55.5px;
}
.ionic .button-flat, .ionic .bar .button-flat {
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
}
.ionic .button.button-flat.disabled, .ionic .bar .button.button-flat.disabled {
    color: #b3b3b3;
}
.ionic .button.button-large, .ionic .bar .button.button-large {
    height: 54px;
    line-height: 56px;
}
.ionic .button.button-large i, .ionic .bar .button.button-large i {
    font-size: 1.6rem;
}
.ionic .button-pin-header.button-floating {
    position: absolute;
    z-index: 1000;
}
.ionic .button-pin-header.button-pin-left {
    left: 24px;
    top: -24px;
}
.ionic .button-pin-header.button-pin-right {
    right: 24px;
    top: -24px;
}
/**
 * Button
 */

.ionic .button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    padding: 6px;
    margin: 0;
    /* background: transparent; */
    
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.ionic .button:focus {
    outline: none;
}
.ionic .button.ng-hide {
    -webkit-transition: none;
    transition: none;
}
.ionic .button.cornered {
    border-radius: 0;
}
.ionic .button.icon {
    padding: 0;
}
.ionic .button.raised {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ionic .button-outline, .ionic .button-outline:hover, .ionic .button-outline:active {
    border-style: solid;
    border-width: 1px;
}
.ionic .button.button-outline.button-assertive, .ionic .button.button-outline.button-balanced, .ionic .button.button-outline.button-calm, .ionic .button.button-outline.button-dark, .ionic .button.button-outline.button-energized, .ionic .button.button-outline.button-light, .ionic .button.button-outline.button-positive, .ionic .button.button-outline.button-royal, .ionic .button.button-outline.button-stable, .ionic .button.button-outline {
    border-color: rgba(0, 0, 0, 0.1);
}
.ionic .button.button-fab {
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 20;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-transition-property: -webkit-transform, box-shadow;
    transition-property: transform, box-shadow;
}
.ionic .button.button-fab.button-fab-bottom-right {
    top: auto;
    right: 16px;
    bottom: 16px;
    left: auto;
    position: absolute;
}
.ionic .button.button-fab.button-fab-bottom-left {
    top: auto;
    right: auto;
    bottom: 16px;
    left: 16px;
    position: absolute;
}
.ionic .button.button-fab.button-fab-top-right {
    top: -16px;
    right: 16px;
    bottom: auto;
    left: auto;
    position: absolute;
}
.ionic .button.button-fab.button-fab-top-left {
    top: -16px;
    right: auto;
    bottom: auto;
    left: 16px;
    position: absolute;
}
.ionic .button.button-fab i {
    font-size: 2.5rem;
    line-height: 56px;
    margin-top: 0;
}
.ionic .button.button-fab.mini {
    width: 40px;
    height: 40px;
}
.ionic .button.button-fab.mini i {
    font-size: 2rem;
}
.ionic .button:not([disabled]).raised:focus, .ionic .button:not([disabled]).raised:hover, .ionic .button:not([disabled]).floating:focus, .ionic .button:not([disabled]).floating:hover {
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
}
.ionic .button-bar > .button {
    box-shadow: none;
}
.ionic .button-bar {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.waves-button, .waves-circle {
    -webkit-mask-image: none;
}
.ionic .button-large .icon:before, .ionic .button-large.icon:before, .ionic .button-large.icon-left:before, .ionic .button-large.icon-right:before {
    line-height: 56px;
}
.ionic .button.button-small {
    line-height: 22px;
}
.ionic .waves-button, .ionic .waves-button:hover, .ionic .waves-button:visited, .ionic .waves-button-input {
    line-height: inherit;
}
/* Animate Blinds */

.ionic .animate-blinds > * {
    visibility: hidden;
}
.ionic .animate-blinds > * {
    -moz-transform: scale3d(0.8, 0, 1);
    -ms-transform: scale3d(0.8, 0, 1);
    -webkit-transform: scale3d(0.8, 0, 1);
    transform: scale3d(0.8, 0, 1);
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: -o-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.ionic .animate-blinds .item-bg-image > img.background {
    box-shadow: none;
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.ionic .animate-blinds > .in, .ionic .animate-blinds.done {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.ionic .animate-blinds > .in, .ionic .animate-blinds.done {
    visibility: visible;
}
.ionic .animate-blinds > .out {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
}
.ionic .list .item.item-bg-image {
    min-height: 150px;
}
.ionic .animate-blinds > * {
    visibility: hidden;
}
.ionic .animate-blinds > * {
    -moz-transform: scale3d(0.8, 0, 1);
    -ms-transform: scale3d(0.8, 0, 1);
    -webkit-transform: scale3d(0.8, 0, 1);
    transform: scale3d(0.8, 0, 1);
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: -o-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
/* Uncomment if you want images to fade in after the card

  .ionic .animate-blinds > .in .item-bg-image > img:last-child { 
    opacity: 0;
  }

.ionic .animate-blinds.done .item-bg-image > img:last-child {
  opacity: 1;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


  .ionic .animate-blinds .item-bg-image > img:last-child {
    box-shadow: none;
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  .ionic .animate-blinds > .in .item-bg-image > img:last-child { 
    opacity: 0;
  }

.ionic .animate-blinds.done .item-bg-image > img:last-child {
  opacity: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ionic .animate-blinds > .in {
    opacity: 0.6;
}
*/

.ionic .animate-blinds > .in, .ionic .animate-blinds.done {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ionic .animate-blinds > .in, .ionic .animate-blinds.done {
    visibility: visible;
}
.ionic .animate-blinds.done > .in {
    opacity: 1;
}
.ionic .animate-blinds .has-mask-reverse:after {
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ionic .animate-blinds.done .has-mask-reverse:after {
    opacity: 1;
}
.ionic .animate-blinds > .out {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
}
/* Animated Slide / Fade In */

.ionic .animate-fade-slide-in > * {
    visibility: hidden;
}
.ionic .animate-fade-slide-in > * {
    -moz-transform: scale3d(0.8, 0, 1);
    -ms-transform: scale3d(0.8, 0, 1);
    -webkit-transform: scale3d(0.8, 0, 1);
    transform: scale3d(0.8, 0, 1);
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: -o-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.ionic .animate-fade-slide-in .item-bg-image > img.background {
    box-shadow: none;
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.ionic .animate-fade-slide-in > .in, .ionic .animate-fade-slide-in.done > * {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ionic .animate-fade-slide-in > .in, .ionic .animate-fade-slide-in.done > * {
    visibility: visible;
}
.ionic .list .item.item-bg-image {
    max-height: 150px;
}
.ionic .animate-fade-slide-in > * {
    visibility: hidden;
}
.ionic .animate-fade-slide-in > * {
    -moz-transform: translate3d(-250px, 250px, 0);
    -ms-transform: translate3d(-250px, 250px, 0);
    -webkit-transform: translate3d(-250px, 250px, 0);
    transform: translate3d(-250px, 250px, 0);
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: -o-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    opacity: 0;
}
.ionic .animate-fade-slide-in > .in, .ionic .animate-fade-slide-in.done {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
.ionic .animate-fade-slide-in > .in, .ionic .animate-fade-slide-in.done {
    visibility: visible;
}
.ionic .animate-fade-slide-in.done > .in {
    opacity: 1;
}
.ionic .animate-fade-slide-in .has-mask-reverse:after {
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ionic .animate-fade-slide-in.done .has-mask-reverse:after {
    opacity: 1;
}
.ionic .animate-fade-slide-in > .out {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
}
/* MD Label Directive Styling */

.item-md-label {
    display: block;
    background: transparent;
    box-shadow: none;
    margin-left: 12px;
    margin-right: 12px;
    padding: 30px 0 0;
}
.item-md-label .input-label {
    position: absolute;
    padding: 5px 0 0;
    z-index: 2;
    -webkit-transform: translate3d(0, -30px, 0) scale(1);
    transform: translate3d(0, -30px, 0) scale(1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #fff;
    opacity: 0.5;
    transform-origin: 0;
}
.ionic .item-md-label input {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #fff;
    letter-spacing: 0.25rem;
    padding: 20px 10px;
    position: relative;
    z-index: 1;
}
.item-md-label .highlight {
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    z-index: 1;
}
.item-md-label .highlight-light {
    background: #fff;
}
.item-md-label .highlight-stable {
    background: #f8f8f8;
}
.item-md-label .highlight-positive {
    background: #387ef5;
}
.item-md-label .highlight-calm {
    background: #11c1f3;
}
.item-md-label .highlight-balanced {
    background: #33cd5f;
}
.item-md-label .highlight-energized {
    background: #ffc900;
}
.item-md-label .highlight-assertive {
    background: #ef473a;
}
.item-md-label .highlight-royal {
    background: #886aea;
}
.item-md-label .highlight-dark {
    background: #444;
}
.item-md-label .input-label {
    letter-spacing: 0.25rem;
    padding: 0 10px;
}
.item-md-label input:focus ~ .input-label, .item-md-label input.used ~ .input-label {
    font-weight: bold;
    opacity: 0.7;
    padding: 0;
    text-transform: uppercase;
    -webkit-transform: translate3d(0, -60px, 0) scale(0.9);
    transform: translate3d(0, -60px, 0) scale(0.9);
}
.item-md-label input:focus ~ .highlight {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/* Login template */

.ionic.login {
    background-position: 25% 25%;
    background-size: 180% 180%;
    height: 100%;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    -webkit-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
.ionic.login .item {
    margin: 0 12px;
    padding-left: 0;
    padding-right: 0;
    width: initial;
}
.ionic.login .button-bar {
    bottom: 0;
    margin: 28px 12px 0;
    width: initial;
}
.ionic.login .light-bg {
    background-color: #fff;
}
.ionic .icon.hero-icon:before {
    line-height: 130px;
}
.login.animate-pan-in-left {
    background-position: 0% 0%;
}
